html {
    width: 960px;
    margin: 0 auto;
    font-family: Arial, serif;
    padding: 0;
    background-color: lightgray;
}

body {
    margin: 0;
    padding: 0;
    width: 960px;
}

head {
    width: 100px;
}

#top_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 960px;
    background-color: #410106;
    color: white;
    height: 150px;
    align-items: center;
}

#logo {
    padding-left: 30px;
    width: 70px;
    height: 70px;
    align-self: center;
}

#title {
    padding-left: 10px;
    padding-right: 30px;
    font-style: italic;
    font-weight: 100;
    font-size: 30pt;
    align-self: center;
}

#title_logo {
    display: inline-flex;
}

.navlink {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 7px;
}

.navlink:hover {
    background-color: #A71D24;
}

#search_box {
    margin-right: 30px;
    color: white;
    border: none;
    border-bottom: solid #A71D24 2px;
    background-color: rgba(0, 0, 0, 0);
}

#search_box::-webkit-input-placeholder {
    color: #A71D24;
}

#search_box:-moz-placeholder {
    color: #A71D24;
}

#breadcrumbs {
    padding-left: 10px;
    height: 25px;
    color: black;
    line-height: 25px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

#content_body_container {
    width: 940px;
    height: auto;
    background-color: white;
    padding: 10px;
}

h2 {
    font-size: 20pt;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.category_container{
    width: 100%;
    padding:0;
    height: auto;
}

.category_title{
    margin-bottom:10px;
    font-size: 20pt;
}

.category_section{
    display: inline-flex;
    height: auto;
}

.category_readall{
    margin-bottom:20px;
    font-size: 20pt;
    color: #A71D24;
    width:100%;
    display: flex;
    text-align: right;
    justify-content: flex-end;
}

.category_readall:hover{
    color:#410106;
}
.category_readall:visited{
    color:#DA0313;
}

.articles {
    width: 305px;
    margin-right: 10px;
}

h3 {
    font-weight: 100;
}

.article_date {
    font-size: 14pt;
    color: white;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.article_day {
    padding: 8px;
    background-color: #A71D24;
    display: inline-block;
}

.article_month {
    padding: 8px;
    display: inline-block;
    background-color: #410106;
}

.article_title {
    font-weight: 100;
    font-size: 14pt;
    margin-top: 5px;
    margin-bottom: 5px;
}

.article_text {
    width: 100%;
    font-size: 10pt;
    margin-bottom: 5px;
    text-align: justify;
}

.article_link {
    width: 100%;
    text-transform: uppercase;
    text-decoration: underline;
    color: #A71D24;
    font-size: 8pt;
    display: block;
    text-align: right;
    margin-bottom: 10px;

}

.article_link:hover{
    color:#410106;
}
.article_link:visited{
    color:#DA0313;
}

.category_divider {
    color: #410106;
    margin: 30px auto;
}

#footer{
    margin-top: 10px;
    height:50px;
    background-color: #410106;
    display: flex;
    color:#8E2D34;
    justify-content: space-between;
    line-height: 50px;
    padding: 10px;
    font-size: 10pt;
}

#footer_left{
    width:310px;

}

#footer_center{
    width:310px;
    text-align: center;
    text-decoration: underline;
    cursor:pointer;
}
#footer_center:hover{
    color:white;
}

#footer_right{
    width:310px;
    text-align: right;
}



















